.home {
  .title {
    color: #fafafa;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 99;
    background: #d1eaff;
    padding: 20px 106px;
    margin-bottom: 22px;
    box-shadow: 0px 2px 2px #cacaca;
  }
  .container {
    margin-top: 100px;
  }
}
