.component-folders {
  .fa {
    margin: 0px 10px;
  }
  .active-folder {
    border-left: 5px solid #cacaca;
  }
  .list-group-item {
    cursor: pointer;
    position: relative;
    .icon-trash{
      right: 5px;
      cursor: pointer;
      visibility: hidden;
      position: absolute;
      color: rgba(255, 0, 0, 0.47);
    }

    &.active-folder {
      .icon-trash {
        visibility: visible;
      }
    }
    .btn {
      padding: 8px 1px;
    }
  }
}
