.component-item {
  margin: 10px;
  position: relative;
  padding: 10px 35px 10px 15px;
  display: inline-block;
  box-shadow: 1px 1px 5px #cacaca;

  .icon {
    visibility: hidden;
    position: absolute;
    right: 9px;
    top: 28%;
    color: rgba(255, 0, 0, 0.47);
    cursor: pointer;
  }
  &:hover {
    .icon{
      visibility: visible;
    }
  }
}
